{% extends 'base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    <style>
        .pricing-box {
            -webkit-box-shadow: 0px 5px 30px -10px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 5px 30px -10px rgba(0, 0, 0, 0.1);
            padding: 35px 50px;
            border-radius: 20px;
            position: relative;
        }

        .pricing-badge {
            position: absolute;
            top: 0;
            z-index: 999;
            right: 0;
            width: 100%;
            display: block;
            font-size: 15px;
            padding: 0;
            overflow: hidden;
            height: 100px;
        }

        .pricing-badge .badge {
            float: right;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            right: -67px;
            top: 17px;
            position: relative;
            text-align: center;
            width: 200px;
            font-size: 13px;
            margin: 0;
            padding: 7px 10px;
            font-weight: 500;
            color: #ffffff;
            background: #FAAA80;
        }

    </style>
{% endblock %}


{% block body %}
    <section class="section" id="pricing">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-box text-center">
                        <h3 class="title-heading mt-4">Offre Ajout Etablissement</h3>
                        <p class="text-muted f-17 mt-3">Sélectionnez l'offre qui vous convient afin de publier votre
                            établissement sur la plateforme.</p>
                        <p class="text-muted f-17 mt-3">Pour la moindre question appeller nous au : 07 66 66 66 66</p>
                    </div>
                </div>
            </div>

            <div class="row d-flex justify-content-center">
                <div class="col-lg-4">
                    <div class="pricing-box mt-4 shadow-lg">
                        <div class="pricing-badge">
                            <span class="badge">Promotion</span>
                        </div>

                        <i class="mdi mdi-account-multiple h1 text-dark"></i>
                        <h4 class="f-20 text-dark">Professionnel</h4>


                        <div class="mt-4 pt-2">
                            <p class="mb-2 f-18">Features</p>

                            <p class="mb-2"><i class="mdi mdi-checkbox-marked-circle text-success f-18 mr-2"></i><b>Illimité</b>
                                Tout Public</p>
                            <p class="mb-2"><i
                                        class="mdi mdi-checkbox-marked-circle text-success f-18 mr-2"></i><b>1</b>
                                Compte Admin</p>
                            <p class="mb-2"><i
                                        class="mdi mdi-checkbox-marked-circle text-success f-18 mr-2"></i><b>100+</b>
                                Réservation</p>
                            <p class="mb-2"><i class="mdi mdi-close-circle text-danger f-18 mr-2"></i><b>Public</b>
                                Displays
                            </p>
                        </div>

                        <p class="mt-4 pt-2 text-muted">Notre offre la plus populaire parmi les professionnels.
                        </p>

                        <div class="pricing-plan mt-4 pt-2">
                            <h4 class="text-muted"><s> 19.99€</s> <span class="plan pl-3 text-dark">15.99€ </span></h4>
                            <p class="text-muted mb-0">Par Mois</p>
                        </div>

                        <div class="mt-4 pt-3">
                            <a href="{{ path('add_establishment') }}" class="btn btn-dark btn-rounded">Choisir</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

{% endblock %}









