<div class="accordion my-3" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed custom-accordion-header" type="button"
                    data-bs-toggle="collapse" aria-expanded="false"
                    data-bs-target="#collapseOne"
                    aria-controls="collapseOne">
                <h6><i class="bi bi-filter"></i> Filtres</h6>
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse"
             data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="row">
                    <div class="col-md-6">
                        <!-- Votre premier bloc -->
                        <div class="d-flex justify-content-between align-items-center">
                            <h7><i class="bi bi-person"></i> Genre :</h7>
                            <span id="resetSelectGender" style="cursor: pointer; display: none;">
                                <i class="bi bi-x-circle"></i>
                         </span>
                        </div>
                        <div class="d-flex flex-column mt-2 mb-3">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="selectGenderOption1"
                                       value="option1">
                                <label class="form-check-label fw-bold" for="selectGenderOption1">
                                    <span class="badge" role="button" style="background-color: #204f7a">Homme</span>
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="selectGenderOption2"
                                       value="option2">
                                <label class="form-check-label fw-bold" for="selectGenderOption2">
                                    <span class="badge" role="button" style="background-color: #832c35">Femme</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="d-flex justify-content-between align-items-center">
                            <h7><i class="bi bi-cash-stack"></i> Tarifs :</h7>
                            <span id="resetSelectGender" style="cursor: pointer; display: none;">
                                <i class="bi bi-x-circle"></i>
                         </span>
                        </div>
                        <div class="d-flex flex-column mt-2 mb-3">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="selectTimeOption1"
                                       value="option1">
                                <label class="form-check-label" for="selectTimeOption1">
                                    <span role="button" class="badge bg-light text-dark"><= 30 {{ 'EUR'|currency_symbol }} </span>
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="selectTimeOption2"
                                       value="option2">
                                <label class="form-check-label fw-bold" for="selectTimeOption2">
                                    <span role="button" class="badge bg-light text-dark">> 30 {{ 'EUR'|currency_symbol }} </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col d-flex justify-content-end">
                    <a type="submit" class="btn shadow-lg btn-dark text-light text-center text-uppercase"
                       data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Filtrer</a>
                </div>

                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Fonctionnalité en cours de dev</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>