<div>
    <video class="img-fluid rounded-3 shadow-lg my-5" width="600" height="600" autoplay muted playsinline loop>
        <source src="{{ asset('video/video_take_appointment.mp4') }}" type="video/mp4" />
    </video>
</div>



