<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <div class="row align-items-center">
                <div class="table-responsive px-3">
                    <table class="table align-middle table-nowrap">
                        <tbody>
                        <tr>
                            <td>
                                <div class="me-3">
                                    <img height="100" width="110"
                                         src="https://www.cma-hautsdefrance.fr/wp-content/uploads/2020/08/coiffeur-salon-1.jpg"
                                         class="rounded" alt="">
                                </div>
                            </td>

                            <td>
                                <div>
                                    <h6 class="font-size-18 text-dark">Establishment numéro 3</h6>
                                    <p class="text-muted mb-1 text-truncate">
                                        <i class="bi bi-geo-alt-fill"
                                           style="color: #FAAA80"></i> 0 avenue d'opéra
                                    </p>
                                    <p class="text-muted mb-1 text-truncate">
                                        <i class="bi bi-telephone"> 07 11 11 11 11 </i>
                                    </p>
                                </div>
                            </td>

                            <td>
                                <ul class="list-unstyled ps-0 mb-0">
                                    <li><p class="text-muted mb-1 text-truncate"><i
                                                    class="mdi mdi-circle-medium align-middle text-primary me-1"></i>
                                            <i class="bi bi-arrow-right-short"></i> Couleur Stylist</p></li>
                                    <li><p class="text-muted mb-1 text-truncate"><i
                                                    class="mdi mdi-circle-medium align-middle text-primary me-1"></i>
                                            <i class="bi bi-person"></i> Aymane</p></li>
                                    <li><p class="text-muted mb-1 text-truncate"><i
                                                    class="mdi mdi-circle-medium align-middle text-primary me-1"></i>
                                            <i class="bi bi-calendar4-event"></i> Mardi 9 janvier 2024 à 11h</p></li>
                                    <li><p class="text-muted mb-1 text-truncate"><i
                                                    class="mdi mdi-circle-medium align-middle text-primary me-1"></i>
                                            <i class="bi bi-music-note"></i> Je ne souhaite pas écouter de la musique
                                        </p></li>
                                </ul>
                            </td>

                            <td style="width: 180px;">
                                <p><i class="bi bi-clock-history"></i> 30 min</p>
                            </td>

                            <td style="width: 220px;">
                                <h4 class="mb-1"><span class="text-muted"></span>45 €</h4>
                                <p class="text-muted mb-1 text-truncate">Payement sur place</p>
                            </td>

                            <td>
                                <div class="dropdown float-end">
                                    <ul class="list-unstyled ps-0 mb-2">
                                        <li class="mb-3"><a class="text-muted custom-dropdown-toggle h6 font-size-20" href="#"
                                               data-bs-toggle="modal" data-bs-target="#exampleModal"
                                               role="button"
                                               aria-haspopup="true">
                                                <i class="bi bi-share-fill"></i>
                                            </a>
                                        </li>
                                        <li><a class="text-muted custom-dropdown-toggle h5 font-size-20" href="#"
                                               role="button"
                                               data-bs-toggle="dropdown" aria-haspopup="true">
                                                <i class="bi bi-three-dots-vertical"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-x"></i> Annuler</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Fonctionnalité en cours de dev</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>