{% extends 'base.html.twig' %}

{% block title %}Hello SalonController!{% endblock %}

{% block body %}
    <h1> Les salons</h1>
    <div class="row">
        {% for s in salon %}
        <div class="col">
            <div class="card">
                <img src="https://picsum.photos/200/200" class="img-fluid">
                <div class="card-body">
                    <h4 class="card-title"> {{ s.name }} </h4>
                    {% if s.ouverture == 'closed' %}
                    <span class="badge badge-pill badge-danger">Fermé - ouvre à ..</span>
                    {% else %}
                    <span class="badge badge-pill badge-success">Ouvert aujourd'hui</span>
                    {% endif %}
                    <h6 class="card-detail"> {{ s.adresse }}</h6>
                    <h5 class="card-text"> {{ s.description }} </h5>
                    <a href="{{ path('salon_details', {'slug': s.slug }) }}" class="btn btn-primary btn-sm"> Prendre RDV</a>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
