{% extends 'base.html.twig' %}

{% block title %}Salons{% endblock %}

{% block body %}

    <!-- Header-->
    <header class="py-3" style="background-color: #FAAA80">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Prenez un rendez-vous</h1>
                <p class="lead fw-normal text-white mb-0">Des salons de coiffure de qualité</p>
            </div>
        </div>
    </header>
    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for s in salon %}
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="https://picsum.photos/200/200" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">{{ s.name }}</h5>
                                <!-- Product price-->
                                {{ s.adresse }}
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-light mt-auto" style="background-color: #FAAA80" href="{{ path('salon_details', {'slug': s.slug }) }}"> Prendre un RDV <i class="fa fa-calendar" aria-hidden="true"></i></a></div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                </div>
        </div>
    </section>

    <footer class="bg-dark py-4 mt-auto">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto"><div class="small m-0 text-white">Site développé par Aymane</div></div>
                <div class="col-auto">
                    <a class="link-light small text-success" href="https://www.instagram.com/aymane_afd/" >Instagram</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small text-success" href="https://twitter.com/aymane_afd">Twitter</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small text-success" href="https://www.linkedin.com/in/aymane-afdari/">Linkedin</a>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}


{% block javascripts %}

    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>

{% endblock %}



