{% extends 'base.html.twig' %}

{% block title %}Confort Zone | Payement échoué{% endblock %}

{% block body %}

    <section>
        <p>
            We would appreciate your business! but the payment failed!
            <a href="mailto:orders@example.com">orders@example.com</a>.
        </p>
    </section>

{% endblock %}
