{% extends 'base.html.twig' %}

{% block title %}Validation payement{% endblock %}

{% block body %}
    <header class="py-5 min-vh-100">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center">
                <h1>Votre rendez-vous a bien été pris en compte !</h1>
                <h3 class="lead fw-normal text-dark-50 mb-3"><i class="bi bi-envelope-check"></i>
                    Vous allez recevoir un email de confirmation
                </h3>
                <a class="btn btn-dark" href="{{ path('accueil') }}">Aller à la page d'acceuil</a>
            </div>
        </div>
    </header>
{% endblock %}
