{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

    {{ form_start(form) }}
    {{ form_row(form) }}

    {{ form_end(form) }}

    <select class="form-select" aria-label="Default select example">
        <option selected>Choisisez votre service</option>
        {% for s in service %}
            <option value="1">{{ s.name }}</option>
        {% endfor %}
    </select>

{% endblock %}