{% extends 'base.html.twig' %}

{% block title %}Etablissements {% endblock %}

{% block body %}
    <!-- Header-->
    <header class="py-3" style="background-color: #FAAA80">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">{{ etablissementtype.name}}</h1>
                <p class="lead fw-normal text-white mb-0">Homme / Femme</p>
            </div>
        </div>
    </header>

    <!-- Page content-->
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-lg-5 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for etablissement in etablissementtype.etablissement %}
                <div class="col-lg-4">
                    <!-- Blog post-->
                    <div class="card mb-4 ">
                        <!--<a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>-->
                        <div class="card-body">
                            <img class="img-fluid rounded-circle mb-3 px-3" src="https://www.perfectgentleman.fr/wp-content/uploads/2020/03/IMG-2007-2-1024x768.jpg" alt="..." />

                            <div class="d-flex justify-content-center"><a type="submit" class="btn btn-outline-light mt-auto" style="background-color: #FAAA80" href="{{ path('etablissement_details', {'slugetablissementtype': etablissementtype.slug, 'slugetablissement': etablissement.slug }) }}"> <i class="bi bi-shop"></i>
                                    {{ etablissement.name }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}


