{% extends 'base.html.twig' %}

{% block title %}Payement accepté{% endblock %}

{% block body %}

    <!-- Page Content-->
    <section class="py-5">
        <div class="container px-5 my-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <div class="text-center mb-5">
                        <h1 class="fw-bolder">Payement échoué</h1>
                        <p class="lead fw-normal text-muted mb-0">Votre payement a échoué, veuillez réessayer de nouveau ou contacter l'admistrateur de la plateforme: <a href="mailto:orders@example.com">orders@example.com</a>. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
