<div class="modal fade" id="demandLoginPaymentOnSite" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLongTitle">Connexion ou inscription</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6><i class="bi bi-shop"></i> Payer sur place</h6>
                <div class="d-flex my-4 justify-content-center">
                    <a class="btn btn-dark btn-lg w-100" type="submit" href="{{ path('app_validation_payment') }}">Se connecter</a>
                </div>
                <h7>Vous n'avez pas de compte ? </h7>
                <div class="d-flex my-3 justify-content-center">
                    <button class="btn btn-outline-dark btn-lg w-100" type="submit" href="{{ path('app_validation_payment') }}">S'enregistrer</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="demandLoginPaymentOnLine" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLongTitle">Connexion ou inscription</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6><i class="bi bi-credit-card"></i> Payer en ligne</h6>
                    <form class="d-flex my-4 justify-content-center" action="/checkout" method="POST">
                        <button class="btn btn-dark btn-lg w-100" type="submit"
                                id="checkout-button">
                            Se connecter
                        </button>
                    </form>
                <h7>Vous n'avez pas de compte ? </h7>
                <div class="d-flex my-3 justify-content-center">
                    <button class="btn btn-outline-dark btn-lg w-100" type="submit">S'enregistrer</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="demandLogin" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLongTitle">Connexion ou inscription</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6>Bienvenue sur Confort Zone</h6>
                <div class="d-flex my-4 justify-content-center">
                        <a class="btn btn-dark btn-lg w-100" type="submit" href="{{ path('app_login') }}">
                            Se connecter
                        </a>
                </div>
                <h7>Vous n'avez pas de compte ? </h7>
                <div class="d-flex my-3 justify-content-center">
                    <a class="btn btn-outline-dark btn-lg w-100" type="submit" href="{{ path('app_register') }}">S'enregistrer</a>
                </div>
            </div>
        </div>
    </div>
</div>